@model IEnumerable<Assingnment_1_.Models.Table1>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Table11.Cars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bikes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trucks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Table11.Cars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bikes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trucks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cost }) |
            @Html.ActionLink("Details", "Details", new { id=item.cost }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cost })
        </td>
    </tr>
}

</table>
